body {
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe6e6;
    padding: 30px;
    width: 100%;
    box-sizing: border-box; /* makes the padding to go within the width size */
}

.logo {
    font-size: 28px;
    text-decoration: none;
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.pages {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.link {
    margin-right: 30px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.logo:hover, .link:hover {
    font-weight: bold;
}

.menu-button {
    display: none;
}

#toggle-menu {
    display: none;
}

.page-title{
    margin-left: 20px;
}

.doctors {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50% 50%;
    gap: 20px;
    max-width: 100%;
}

.doctor-link {
    text-decoration: none;
}

.doctor-name {
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: black;
}

.doctors img {
    width: 100%;
}


/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {

    .doctors {
        display: grid;
        margin: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        max-width: 100%;
    } 

}

/* Cellphones */
@media (max-width: 767px) {

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        justify-content: center;
        align-items: center;
    }

    .menu-button {
        display: flex;
        margin-left: auto;
        cursor: pointer;
    }

    .pages {
        display: none;        
        flex-direction: column;
        margin: auto;
        margin-top: 20px;
    }

    .pages li {
        margin-bottom: 10px;
    }

    .doctors {
        display: grid;
        margin: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        max-width: 100%;
    } 

    #toggle-menu:checked ~ .pages {
        display: flex;
        align-items: center;
    }

}