body {
    margin: 0;
    padding: 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe6e6;
    padding: 30px;
    width: 100%;
    box-sizing: border-box; /* makes the padding to go within the width size */
}

.logo {
    font-size: 28px;
    text-decoration: none;
    color: black;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.pages {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.link {
    margin-right: 30px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.logo:hover, .link:hover {
    font-weight: bold;
}

.menu-button{
    display: none;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Cellphones */
@media (max-width: 767px) {

}