<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyClinic</title>

    <!-- Font Lora -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="icon" href="/static/img/estetoscopio.png">

    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <nav class="nav-menu">
        <a href="/templates/index.html" class="logo">MyClinic</a>

        <input type="checkbox" id="toggle-menu" hidden>
        <label for="toggle-menu" class="menu-button">☰</label>

        <ul class="pages">
            <li><a href="/templates/about.html" class="link">About Us</a></li>
            <li><a href="/templates/treatments.html" class="link">Treatments</a></li>
            <li><a href="/templates/staff.html" class="link">Staff</a></li>
            <li><a href="/templates/contacts.html" class="link">Contact Us</a></li>
        </ul>
    </nav>


</body>
</html>