<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyClinic</title>

    <!-- Font Lora -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="icon" href="/static/img/estetoscopio.png">

    <link rel="stylesheet" href="/static/staff.css">
</head>
<body>
    
    <nav class="nav-menu">
        
        <a href="/templates/index.html" class="logo">MyClinic</a>

        <input type="checkbox" id="toggle-menu" hidden>
        <label for="toggle-menu" class="menu-button">☰</label>

        <ul class="pages">
            <li><a href="/templates/about.html" class="link">About Us</a></li>
            <li><a href="/templates/treatments.html" class="link">Treatments</a></li>
            <li><a href="/templates/staff.html" class="link">Staff</a></li>
            <li><a href="/templates/contacts.html" class="link">Contact Us</a></li>
        </ul>
    </nav>

    <div class="page-title">
        <h1>Our Doctors</h1>
    </div>

    <div class="doctors">
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Adam</p><img src="/static/img/Adam.jpeg" alt="Adam"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Ann</p><img src="/static/img/Ann.jpeg" alt="Ann"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Bryan</p><img src="/static/img/Bryan.jpeg" alt="Bryan"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Claire</p><img src="/static/img/Claire.jpeg" alt="Claire"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Elizabeth</p><img src="/static/img/Elizabeth.jpeg" alt="Elizabeth"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Gerald</p><img src="/static/img/Gerald.jpeg" alt="Gerald"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Lauren</p><img src="/static/img/Lauren.jpeg" alt="Lauren"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Mary</p><img src="/static/img/Mary.jpeg" alt="Mary"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Phillip</p><img src="/static/img/Pauline.jpeg" alt="Pauline"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Pauline</p><img src="/static/img/Phillip.jpeg" alt="Phillip"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Ralph</p><img src="/static/img/Ralph.jpeg" alt="Ralph"></a>
        <a href="" class="doctor-link"><p class="doctor-name">Dr. Sandra</p><img src="/static/img/Sandra.jpeg" alt="Sandra"></a>
    </div>

</body>
</html>