<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyClinic</title>

    <link rel="stylesheet" href="/static/staff.css">
</head>
<body>
    
    <nav class="nav-menu">
        <a href="/templates/index.html" class="logo">MyClinic</a>

        <input type="checkbox" id="toggle-menu" hidden>
        <label for="toggle-menu" class="menu-button">☰</label>

        <ul class="pages">
            <li><a href="/templates/about.html" class="link">About Us</a></li>
            <li><a href="/templates/treatments.html" class="link">Treatments</a></li>
            <li><a href="/templates/staff.html" class="link">Staff</a></li>
            <li><a href="/templates/contacts.html" class="link">Contact Us</a></li>
        </ul>
    </nav>

    <div class="doctors">
        <a href=""><img src="/static/img/Adam.jpeg" alt="Adam"></a>
        <a href=""><img src="/static/img/Ann.jpeg" alt="Ann"></a>
        <a href=""><img src="/static/img/Bryan.jpeg" alt="Bryan"></a>
        <a href=""><img src="/static/img/Claire.jpeg" alt="Claire"></a>
        <a href=""><img src="/static/img/Elizabeth.jpeg" alt="Elizabeth"></a>
        <a href=""><img src="/static/img/Gerald.jpeg" alt="Gerald"></a>
        <a href=""><img src="/static/img/Lauren.jpeg" alt="Lauren"></a>
        <a href=""><img src="/static/img/Mary.jpeg" alt="Mary"></a>
        <a href=""><img src="/static/img/Pauline.jpeg" alt="Pauline"></a>
        <a href=""><img src="/static/img/Phillip.jpeg" alt="Phillip"></a>
        <a href=""><img src="/static/img/Ralph.jpeg" alt="Ralph"></a>
        <a href=""><img src="/static/img/Sandra.jpeg" alt="Sandra"></a>
    </div>

</body>
</html>