<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyClinic</title>

    <link rel="stylesheet" href="/static/staff.css">
</head>
<body>
    
    <nav class="nav-menu">
        <a href="/templates/index.html" class="logo">MyClinic</a>

        <input type="checkbox" id="toggle-menu" hidden>
        <label for="toggle-menu" class="menu-button">☰</label>

        <ul class="pages">
            <li><a href="/templates/about.html" class="link">About Us</a></li>
            <li><a href="/templates/treatments.html" class="link">Treatments</a></li>
            <li><a href="/templates/staff.html" class="link">Staff</a></li>
            <li><a href="/templates/contacts.html" class="link">Contact Us</a></li>
        </ul>
    </nav>


</body>
</html>